av
pylance>=0.20.0
rich
rich_pixels
pandas
pillow-avif-plugin
pillow-heif
pillow-jxl-plugin
pysrt
toml
imageio>=2.31.1
imageio-ffmpeg>=0.4.8
pymediainfo
mutagen
pyarrow>=14.0.1
mistralai>=1.5.1
google-generativeai
google-genai
openAI
dashscope
pyanimeinfo

#WDtagger
opencv-python
accelerate
torch==2.5.1+cu124
onnxruntime-gpu>=1.20

scenedetect[opencv]
