av
pylance>=0.20.0
rich
rich_pixels
pandas
pillow-heif
pillow-jxl-plugin
pysrt
toml
imageio>=2.31.1
imageio-ffmpeg>=0.4.8
pymediainfo
mutagen
pyarrow>=14.0.1
mistralai>=1.6.0
google-genai>=1.32.0
openAI
dashscope
pyanimeinfo
zhipuai
volcengine-python-sdk[ark]
wheel_stub
setuptools

#WDtagger
#accelerate>=1.6.0
#huggingface_hub[hf_xet]>=0.35.2
#https://github.com/cudawarped/opencv-python-cuda-wheels/releases/download/4.11.0.20250124/opencv_contrib_python_rolling-4.12.0.86-cp37-abi3-win_amd64.whl; sys_platform == 'win32'
#https://github.com/cudawarped/opencv-python-cuda-wheels/releases/download/4.11.0.20250210/opencv_contrib_python_rolling-4.12.0.20250210-cp37-abi3-linux_x86_64.whl; sys_platform == 'linux'
#torch>=2.8.0
#onnxruntime-gpu==1.20.2; sys_platform == 'win32'
#onnxruntime-gpu>=1.20.2; sys_platform == 'linux'
#tensorrt>=10.9

#scenedetect>=0.6.6

#WatermarkDetect
#transformers>4.50
#torchvision
#scipy

#rewardmodel
#imscore