av
pylance>=0.20.0
rich
rich_pixels
pandas
pillow-heif
pillow-jxl-plugin
pysrt
toml
imageio>=2.31.1
imageio-ffmpeg>=0.4.8
pymediainfo
mutagen
pyanimeinfo
wheel_stub
setuptools
scenedetect>=0.6.6

pillow>=11.3
opencv-contrib-python @ https://github.com/cudawarped/opencv-python-cuda-wheels/releases/download/4.12.0.88/opencv_contrib_python-4.12.0.88-cp37-abi3-win_amd64.whl; sys_platform == 'win32'
opencv-contrib-python @ https://github.com/cudawarped/opencv-python-cuda-wheels/releases/download/4.12.0.88/opencv_contrib_python-4.12.0.88-cp37-abi3-linux_x86_64.whl; sys_platform == 'linux'
onnxruntime-gpu==1.20.2; sys_platform == 'win32'
onnxruntime-gpu>=1.20.2; sys_platform == 'linux'
tensorrt>=10.9

torch>=2.8.0
torchvision
accelerate
transformers>=4.57
huggingface_hub[hf_xet]>=0.35.2
