av
pylance>=0.20.0
rich
rich_pixels
pandas
pillow-avif-plugin
pillow-heif
pillow-jxl-plugin
pysrt
toml
imageio>=2.31.1
imageio-ffmpeg>=0.4.8
pymediainfo
mutagen
pyarrow>=14.0.1
mistralai>=1.6.0
google-genai>=1.11.0
openAI
dashscope
pyanimeinfo
zhipuai

#WDtagger
accelerate>=1.6.0
huggingface_hub[hf_xet]>=0.30.2
opencv-python
torch>=2.7.0
onnxruntime-gpu==1.20.2
tensorrt>=10.9

scenedetect[opencv]>=0.6.6